{
	"parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
	"prettier"
  ],
	"extends": ["eslint:recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended","eslint:recommended", "plugin:react/recommended", "react-app", "prettier"],
	"rules": {
		"no-console": ["warn", { "allow": ["warn", "error"] }],
		"no-debugger": "warn",
		"no-unused-vars": "error",
		"one-var": ["error", "never"],
		"no-case-declarations": "off",
		"prefer-const": [
			"error",
			{
				"destructuring": "any",
				"ignoreReadBeforeAssign": false
			}
		],
		"no-var": "error",
		"react/prop-types": "off",
		"react/display-name": "off",
		"react/no-find-dom-node": "error",
		"curly": "error"
	}
}